*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.box{
    width: 80%;
    min-height: 10em;
    /* background-color: darkcyan; */
    display: grid;
    grid-template-rows: 60px 60px 350px auto 40px;
    grid-template-columns:1fr;
    margin: auto;
    grid-gap: 10px;
}

.box1{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.box1 h1{
    color: white;
    
}
.box2{
    background-color: darkgray;
}
.box2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.box2 ul li{
   list-style: none;
}

.box2 ul li a{
    text-decoration: none;
    color: white;
}
.box2 ul li a:hover{
    background-color: darkcyan;
    color: black;
    padding: 5px;
}

.box3{
    
}
.box3 #my-slider{
    width: 100%;
    height: 350px;
}
.box4{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    
    
}
.box4 .owner{
    background-color: chartreuse;
    /* background-color: green; */
    display: grid;
    grid-template-rows: 80px auto;
    border-radius: 5%;


}
.owner .title{
    /* border: 2px solid black; */
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.title h1{
    color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

.owner .image{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 50%;
    height:200px;
    border-radius: 50%;
    object-fit: cover;
}

.box4 .about{
    background-color: aqua;
    /* overflow:hidden;*/
    border-radius: 5%;
}
.about p{

    text-align: justify;
    
}

.box5{
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box5 h5{
    color: white;
}

